{% extends 'base.html' %}

<title>{% block title %}{{ super() }}- Alterar/Remover Livros {% endblock %}</title>

{% block content %}
<div class="container">
        <h2>Altere ou Remova Seus Livros Cadastrados</h2>
        <p>Visualize e Pesquise seus livros cadastrados </p>                                                                                      
        
        </br>
        <div class="table-responsive">          
        <table class="table" id="lista">
          <thead>
            <tr>
              <th>Id</th>
              <th>Nome</th>
              <th>Autor</th>
              <th>Categoria</th>
              <th>Idioma</th>
              
            </tr>
          </thead>
          <tbody>
            {% for row in value %}
            <tr>
              <td>{{ row.id }}</td>
              <td>{{ row.nome }}</td>
              <td>{{ row.autor }}</td>
              <td>{{ row.categoria }}</td>
              <td>{{ row.idioma }}</td>
              
            </tr>
            {% endfor %}
          </tbody>
        </table>
        </br>
        <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Alterar Livro</a>
                    </h4>
                  </div>
                  <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body">
                    <form action="" method="POST">
                            {{ form.csrf_token }}
                    <div class="col-md-4 col-offset-4">
                    <div class="form-group">
                    <label>ID do item que quer alterar: </label>
                    {{ form.id(class="form-control", 
                    placeholder="Id do Item") }}

                    <label>Alterar Nome: </label>
                    {{ form.nome(class="form-control", 
                    placeholder="Novo Nome") }}

                    <label>Alterar Autor: </label>
                    {{ form.autor(class="form-control", 
                    placeholder="Novo Autor") }}

                    <label>Alterar Categoria: </label>
                    {{ form.categoria(class="form-control", 
                    placeholder="Nova Categoria") }}
                    </br>
                    <button type="submit" class="btn btn-primary">Alterar</button>
                    
                    </form>
                    
                    </div>
                    </div>
                    
                
                  </div>
                </div>
                
                </div>
                  </div>
                </div>
              </div> 
            </div>



        
      </div>

{% endblock %}